<div class="screen">
  <div class = "login-container">
    <div class = "logo-container">
      <div style="display: flex; justify-content: center;">
        <p style="font-size: 40px; font-weight: bold; color: #4A90E2;">Syn</p>
        <p style="font-size: 40px; font-weight: bold;">hub</p>
      </div>
      <img ngSrc="assets/images/synhub_logo.png" alt="Synhub Logo" class="synhub-logo" height="1403" width="586">
    </div>
    <div class="login-form">
      <div class = "form">
        <div style="display: flex; justify-content: center;">
          <p style="font-size: 40px; font-weight: bold;">Bienvenido a Synhub</p>
        </div>
        <div style="height: 40px;"></div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill" class="custom-form-field full-width">
            <mat-label>Usuario</mat-label>
            <mat-icon matPrefix style="color: #888;">person</mat-icon>
            <input matInput formControlName="username" placeholder="Usuario" type="text" required>
            @if (loginForm.get('username')?.hasError('required')) {
              <mat-error>El usuario es <strong>requerido</strong>.</mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="fill" class="custom-form-field full-width">
            <mat-label>Contraseña</mat-label>
            <mat-icon matPrefix style="color: #888;">lock</mat-icon>
            <input matInput formControlName="password" placeholder="Contraseña" type="password" required>
            @if (loginForm.get('password')?.hasError('required')) {
              <mat-error>La contraseña es <strong>requerida</strong>.</mat-error>
            }
          </mat-form-field>
          <div class="button-container">
            <button mat-raised-button color="primary" class="custom-button-1" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
            <button mat-raised-button color="primary" class="custom-button-2" type="button" (click)="onGotoSignUp()">Registrarse</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
