<div class="screen">
  <div class = "login-container">
    <div class = "logo-container">
      <div style="display: flex; justify-content: center;">
        <p style="font-size: 40px; font-weight: bold; color: #4A90E2;">Syn</p>
        <p style="font-size: 40px; font-weight: bold;">hub</p>
      </div>
      <img src="assets/images/synhub_logo.png" alt="Synhub Logo" class="synhub-logo">
    </div>
    <div class="login-form">
      <div class = "form">
        <div style="display: flex; justify-content: center;">
          <p style="font-size: 40px; font-weight: bold;">Bienvenido a Synhub</p>
        </div>
        <div style="height: 40px;"></div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill" class="custom-form-field full-width">
            <mat-label>Usuario</mat-label>
            <mat-icon matPrefix style="color: #888;">person</mat-icon>
            <input matInput formControlName="username" placeholder="Usuario" type="text" required>
            <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
              El usuario es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="custom-form-field full-width">
            <mat-label>Contraseña</mat-label>
            <mat-icon matPrefix style="color: #888;">lock</mat-icon>
            <input matInput formControlName="password" placeholder="Contraseña" type="password" required>
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
              La contraseña es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
          <!-- ngx-captcha reCAPTCHA v2 -->
          <div style="margin-bottom: 16px; display: flex; flex-direction: column; align-items: center;">
            <ngx-recaptcha2 #captchaElem
              [siteKey]="siteKey"
              (reset)="handleReset()"
              (expire)="handleExpire()"
              (load)="handleLoad()"
              (success)="handleSuccess($event)"
              formControlName="recaptcha">
            </ngx-recaptcha2>
            <div *ngIf="loginForm.get('recaptcha')?.invalid && loginForm.get('recaptcha')?.touched" style="color: #d32f2f; font-size: 12px; margin-top: 8px; text-align: center;">
              Por favor, completa el reCAPTCHA.
            </div>
          </div>
          <div class="button-container">
            <button mat-raised-button color="primary" class="custom-button-1" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
            <button mat-raised-button color="primary" class="custom-button-2" type="button" (click)="onGotoSignUp()">Registrarse</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
